<h1>Messages for <%= @event.name %></h1>

<%= link_to 'Leave a Message', new_event_message_path(@event) %>

<div class="messages">
  <% @messages.each do |message| %>
    <div class="messages">
      <p><strong><%= message,user.name %>:</strong> <%= message.content %></p>
    </div>
  <% end %>
</div>

<%= link_to 'Back to Event', event_path(@event) %>
