<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Qapture</title>
</head>
<body>
    <div class="container">

            <h1><%= @event.name %></h1>

          <div class="button-container">
            <%= link_to "View Album", album_event_path(@event), class: "btn btn-primary" %>
            <%= link_to "Upload Media", new_event_upload_path(@event), class: "btn btn-secondary" %>
            <%= link_to "Leave a Message", new_event_upload_path(@event), class: "btn btn-tertiary" %>
             <%= link_to "View QR", qr_code_event_path(@event), class: "btn btn-secondary" %>

          </div>

          <footer class="main-footer">
            <p>© 2024 Qapture. Capture, share, and relive your moments.</p>
        </footer>
    </div>
</body>
</html>
