<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage Event - Qapture</title>
      <%= link_to('guest landing page', guests_landing_page_event_path(@event)) %>

    <link rel="stylesheet" href="host_style.css"> <!-- Assuming you have a separate stylesheet -->
</head>
<body>
    <div class="container">
        <header>
            <h1>Manage Event: <%= @event.name %></h1>
        </header>

        <div class="button-container">
            <%= link_to "View Album", events_path, class: "btn btn-primary" %>

            <!-- Manage Event Details -->
            <%= link_to "Edit Event Details", edit_event_path(@event), class: "btn btn-primary" %>

            <!-- Manage Uploads -->
            <%= link_to "Manage Uploads", manage_uploads_event_path(@event), class: "btn btn-tertiary" %>

            <!-- Download Event Album -->
            <%= link_to "Download Event Album", download_album_event_path(@event), class: "btn btn-secondary", method: :get %>
            <%= link_to "Upload Media", new_event_upload_path(@event), class: "btn btn-secondary" %>
            <%= link_to "Leave a Message", new_event_upload_path(@event), class: "btn btn-tertiary" %>
            <%= link_to "View QR", qr_code_event_path(@event), class: "btn btn-secondary" %>
        </div>
        </div>

        <footer class="main-footer">
            <p>© 2024 Qapture. Capture, share, and relive your moments.</p>
        </footer>
    </div>
</body>
</html>
