<% content_for :head do %>
  <meta name="csrf-token" content="<%= csrf_meta_tags %>">
  <meta name="event-id" content="<%= @event.id %>">
<% end %>

<h1><%= @event.name %></h1>
<h2>Share This Event</h2>
<div id="qr-code-container">
  <% if @event.qr_code.present? %>
	<%= @qr_code_svg %>
  <% else %>
	<p>No QR code generated yet.</p>
  <% end %>
</div>

<div id="qr-options-menu">
  <% if @event.qr_code.present? %>
	<button onclick="printQRCode()" class="btn btn-secondary">Print QR Code</button>
	<button onclick="shareQRCode()" class="btn btn-secondary">Share QR Code</button>
  <% end %>
</div>

<% share_options = { url: event_url(@event), allow_sites: %w(twitter facebook) } %>
<% share_options[:desc] = @event.description if @event.respond_to?(:description) %>
<%= social_share_button_tag('Share this event', share_options) %>
