<h1>Edit Moment</h1>

<%= form_with(model: [@event, @upload], local: true) do |form| %>
  <div>
    <%= form.label :image %>
    <%= form.file_field :image %>
  </div>

  <%= form.submit 'Update' %>
<% end %>

<%= link_to 'Back to Uploads', event_uploads_path(@event) %>
