<h1>Uploads for <%= @event.name %></h1>
<%= link_to 'Capture New Moment', new_event_upload_path(@event) %>

<% @uploads.each do |upload| %>
  <div>
    <h2><%= link_to upload.file.filename.to_s, rails_blob_path(upload.file, disposition: "attachment") %>
    </h2>
    <p>Uploaded by: <%= upload.user.present? ? upload.user.name : "Anonymous" %></p>
    <%= link_to 'Edit', edit_event_upload_path(@event, upload) %> |
    <%= link_to 'Delete', event_upload_path(@event, upload), method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
<% end %>
