<h1>Capture New Moment</h1>

<%= form_with(model: [@event, @upload], local: true, html: { multipart: true }) do |form| %>

  <div>
    <%= form.label :file %>
    <%= form.file_field :file %>
  </div>

  <%= form.submit 'Upload' %>
<% end %>

<%= link_to 'View Album', event_uploads_path(@event) %>
