<h1><%= @upload.title %></h1>
<%= image_tag @upload.image.url if @upload.image? %>
<p><%= @upload.description %></p>

<%= link_to 'Edit', edit_event_upload_path(@event, @upload) %> |
<%= link_to 'Delete', event_upload_path(@event, @upload), method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back to Uploads', event_uploads_path(@event) %>
