<!DOCTYPE html>
<html lang="en">
<head>
    <title>Qapture</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbo-track': 'reload' %>
</head>
<body>
    <header class="neobrutalist-header" onclick="location.href='/home'">
        <div class="scrolling-text" id="scrolling-text">
            <span>Welcome to Qapture: Your new fav photos app! Live, Capture, Share, and Relive Your Favorite Moments. <a href="/home" style="text-decoration: none; font-weight: bold;"> Click me anytime to come home </a></span>
        </div>
    </header>

    <div class="main-content">
        <%= yield %>
    </div>
</body>
</html>
